<div class="container py-5">
  <div class="row">
    <div class="col-12 col-lg-10 mx-auto">

      <div class="text-right my-3">
        <%= link_to 'グループ作成', new_group_path, class: 'btn btn-outline-secondary' %>
      </div>

      <% @groups.each do |group| %>
      <div class="card">
        <div class="card-header">
          <%= link_to group.name, group_path(group) %>
        </div>
        <div class="card-body">
          <%= group.introduction %>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>
