<div class="container py-5">
  <h2><span class="logo">helmet</span>について</h2>
  <p>
    毎日の献立に悩んだ時…同じ年代の子を持つ親が投稿したレシピを参考にすることができる！<br>
    子供の好みや思考に合わせたメニューの情報を交換でき、子育てを料理の面からサポートするためのコミュニティサイトです。
  </p>
</div>